<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th scope="col">순번</th>
                <td scope="col">게시글명</td>
                <td scope="col">유저명</td>
                <td scope="col">게시글내용</td>
                <td scope="col">게시날짜</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="noticeDto, status: ${noticeDtoList}">
                <th scope="row" th:text="${status.index+1}"></th>
                <td th:text="${noticeDto.title}"></td>
                <td th:text="${noticeDto.userName}"></td>
                <td th:text="${noticeDto.content}"></td>
                <td th:text="${noticeDto.postDate}"></td>
                <td>
                    <a href="#" th:href="@{/notices/{id}/details (id=${noticeDto.id})}" class="btn btn-outline-dark" role="button">상세보기</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>