<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">순번</th>
                <td scope="col">게시글명</td>
                <td scope="col">유저명</td>
                <td scope="col">게시글내용</td>
                <td scope="col">게시날짜</td>
                <td scope="col"></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="notice, status: ${noticeList}">
                <th scope="row" th:text="${status.index+1}"></th>
                <td th:text="${notice.title}"></td>
                <td th:text="${notice.userName}"></td>
                <td th:text="${notice.content}"></td>
                <td th:text="${notice.postDate}"></td>
                <td>
                    <a href="#" th:href="@{/notices/{id}/details (id=${notice.id})}" role="button">상세보기</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>