<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <h1>게시글 데이터 출력 예시</h1>
    <div>
        게시글 제목 : <span th:text="${noticeDto.title}"></span>
    </div>
    <div>
        게시글 내용 : <span th:text="${noticeDto.content}"></span>
    </div>
    <div>
        게시글 작성자 : <span th:text="${noticeDto.userName}"></span>
    </div>
    <div>
        게시글 작성일 : <span th:text="${noticeDto.postDate}"></span>
    </div>
</div>
</html>