<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
    $.ajax({
        url: "/shop",
        type:"GET",
        error : function(){
            alert('오류가 발생하였습니다.');},
        success : function(data){
            $.each(JSON.parse(data), function (index, res) {
                var temp = JSON.stringify(res.data)
<!--                alert(res.data[0]["period"]);-->
                $('#tabList').append("<tr><td>" + res.title + "</td><td>" + res.data[0]["ratio"] + "</td></tr>");
            });
    }});
});
    </script>
</th:block>
    <div layout:fragment="content">

    </div>
</html>
